* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "side header"
    "side main";
}

.header {
  background-color: #e55604;
  grid-area: header;
}

.sidebar {
  background-color: #26577c;
  color: #f6f5f0;
  grid-area: side;
  padding: 1rem;
}

.sidebar img {
  max-width: 50px;
  margin-right: 0.5rem;
}

.nav {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 3.5rem;
  display: grid;
  gap: 10px;
}

.nav-item {
  display: grid;
}

.nav-item a {
  display: flex;
  align-items: center;
}

.nav a {
  color: #333;
  text-decoration: none;
  color: #f6f5f0;
}

.nav img {
  max-width: 30px;
  margin-right: 1rem;
}

.title {
  display: flex;
  align-items: center;
}

.main-content {
  background-color: #b4b4b3;
  grid-area: main;
}
